.dashboard-layout {
  max-height: calc(100vh - 72px);
  padding-left: calc(320px + 15px);
  overflow-x: auto;
  transition: padding-left 0.4s;

  &--sidebar-hidden {
    padding-left: 15px;
  }

  &__sidebar {
    top: unset;
    bottom: 0;
    height: calc(100vh - 72px);
  }
}